@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

.atr-item {
  max-width: 25vw;
  min-width: 25vw;
  margin: 10px;
  -webkit-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-height: 70vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #12da15;
  color: black;
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
}

.atr-title-wrap {
  margin-left: 140px;
  color: antiquewhite;
  display: flex;
  position: relative;
  font-family: 'Six Caps', sans-serif;
}

.atr-title-wrap p {
  transform: rotate(270deg);
  font-size: 3vw;
  left: -4%;
  top: 37%;
  position: absolute;
  color: #12da15;
}

.atr-title-wrap h1 {
  font-size: 5.8vw;
  letter-spacing: 2px;
}

.atr-title-wrap span {
  color: #12da15;
}
.white-span {
  color: antiquewhite;
}

.search-for-city {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 200px;
  width: 100%;
}

.search-for-city h3 {
  color: antiquewhite;
  font-size: 2.5vw;
  margin-left: 10px;
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
