@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.main-section {
  background-image: url('../assets/nightmesa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.title-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.title-cont1 {
  display: flex;
}

.title-cont2 {
  display: flex;
}

.text-cont {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 10px;
}

.text-cont h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-cont1 {
  background: url('../assets/gifs/pool.gif');
  background-size: cover;
  background-position: 15% -120%;
  background-clip: inherit;
  margin-right: -80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 50px;
}
.title-cont2 {
  background: url('../assets/gifs/boat.gif');
  background-size: contain;
  background-position: 100%;
  padding: 50px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-cont h1 {
  font-size: 50vh;
  letter-spacing: -60px;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.title-cont h4 {
  font-size: 22vh;
  letter-spacing: 9px;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
}

.title-cont video {
  position: absolute;
  top: 0;
  left: 0;
}

.h1-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subtitle-cont {
  background: url('../assets/car.gif');
  background-position: 45% 50%;
  margin-top: -100px;
  background-size: cover;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8%;
  right: 50%;
  transform: translateX(50%);
}

.start {
  width: 200px;
  cursor: pointer;
  height: 80px;
  border: none;
  border-radius: 5px;
  background: transparent;
  border: 3px solid #ffffffce;
  color: rgba(255, 255, 255, 0.775);
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 2px;
  transition: 0.3s;
}

.start:hover {
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.start:active {
  transform: translateY(3px);
}

.link {
  color: black;
  text-decoration: none;
}

.hidden-dev {
  font-size: 80px;
  cursor: pointer;
  opacity: 0;
}

.hidden-dev:hover {
  opacity: 1;
}

.loading-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.window {
  height: 25vh;
  width: 17vw;
  margin-bottom: 40px;
}

.loading-page h1 {
  font-family: 'Archivo', sans-serif;
  animation: blinker 1.4s linear infinite;
}

.loading-page img {
  opacity: 0.8;
  animation: blinker 1.4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {
  .title-cont {
    padding-right: 40px !important;
  }
  .title-cont h1 {
    font-size: 40vw !important;
    margin-top: 200px;
    letter-spacing: -37px;
  }
  .subtitle-cont {
    display: none;
  }
  .btn-cont {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 960px) {
  .title-cont {
    padding-right: 40px !important;
  }
  .title-cont h1 {
    font-size: 40vw !important;
    margin-top: 200px;
    letter-spacing: -37px;
  }
  .subtitle-cont {
    display: none;
  }
  .btn-cont {
    margin-bottom: 200px;
  }
  .title-cont2 {
    background-position: -50% 10%;
  }
}
