@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.main-section {
  background-image: url('../assets/nightmesa.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.title-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.title-cont1 {
  display: flex;
}

.title-cont2 {
  display: flex;
}

.text-cont {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 10px;
}

.text-cont h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-cont1 {
  background: url('../assets/gifs/pool.gif');
  background-size: cover;
  background-position: 15% -120%;
  background-clip: inherit;
  margin-right: -80px;
  /* position: absolute;
  top: 5%;
  left: 15%; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 50px;
}
.title-cont2 {
  background: url('../assets/gifs/boat.gif');
  background-size: contain;
  background-position: 100%;
  /* position: absolute;
  top: 20%;
  left: 47%; */
  padding: 50px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-cont h1 {
  font-size: 50vh;
  letter-spacing: -60px;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

.title-cont h4 {
  font-size: 19vh;
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  margin-left: 40px;
}

.title-cont video {
  position: absolute;
  top: 0;
  left: 0;
}

.h1-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subtitle-cont {
  background: url('../assets/car.gif');
  background-position: 45% 50%;
  /* position: absolute;
  bottom: 5%;
  left: 20%; */
  margin-top: -100px;
  background-size: cover;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECOND SECTION */

.second-section {
  background-image: url('../assets/back2.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.second-title-cont {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 60%;
  position: absolute;
  right: 1%;
  color: rgba(0, 0, 0, 0.671);
}

.second-title {
  font-size: 10vh;
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  text-align: end;
}

.second-subtitle {
  font-size: 4.5vh;
  font-family: 'Questrial', sans-serif;
}

.btn-cont {
  height: 20vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 15vw;
  cursor: pointer;
  height: 100px;
  border: none;
  border-radius: 3px;
  background: #ff5a31;
  border: 1px solid black;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
}

.link {
  color: black;
  text-decoration: none;
}

.hidden-dev {
  font-size: 80px;
  cursor: pointer;
  opacity: 0;
}

.hidden-dev:hover {
  opacity: 1;
}
