@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

.hot-cont {
  height: 80vh;
  width: 400vw;
}

.hot-item {
  max-width: 25vw;
  min-width: 25vw;

  margin: 10px;
  -webkit-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-height: 70vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: #222222;
  color: #ffffff;
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
}

.hot-title-wrap {
  margin-left: 140px;
  color: antiquewhite;
  display: flex;
  position: relative;
  font-family: 'Six Caps', sans-serif;
}

.hot-title-wrap p {
  transform: rotate(270deg);
  font-size: 3vw;
  left: -4%;
  top: 33%;
  position: absolute;
  color: #e65634;
}

.hot-title-wrap h1 {
  font-size: 5.8vw;
  letter-spacing: 2px;
}
.hot-title-wrap span {
  color: #e65634;
}

@media screen and (max-width: 960px) {
  .hot-title-wrap {
    margin-left: 80px;
  }
  .hot-title-wrap h1 {
    font-size: 9vw;
    margin-left: 20px;
  }
  .hot-title-wrap p {
    font-size: 4.5vw;
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .hot-title-wrap {
    margin-left: 40px;
  }
  .hot-title-wrap h1 {
    font-size: 18vw;
    margin-left: 20px;
  }
  .hot-title-wrap p {
    font-size: 7.5vw;
    margin-left: 0px;
  }
}
