.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2e282a;
  position: relative;
}

.h1-back {
  position: absolute;
  opacity: 0.3;
  font-size: 50vw;
  bottom: 0%;
  right: -14%;
}

.form-wrapper h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-cont {
  color: bisque;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.form-cont h2 {
  cursor: pointer;
  padding: 12px;
  background-color: rgba(250, 235, 215, 0.847);
  color: #2e282a;
  border: 2px solid #2e282a;
  border-radius: 5px;
}

.form-cont h2:active {
  transform: translateY(2px);
}

.login-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.g-singin {
  width: 28%;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.g-singin:active {
  transform: translateY(2px);
}

.g-singin p {
  font-size: 1.5vw;
  cursor: pointer;
}

.glogo {
  width: 25px;
}

@media screen and (max-width: 400px) {
  .login-form {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  .g-singin {
    width: 88% !important;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .g-singin:active {
    transform: translateY(2px);
  }

  .g-singin p {
    font-size: 6.2vw !important;
    cursor: pointer;
  }
  .form-cont h2 {
    font-size: 5vw !important;
  }
  .h1-back {
    top: 7%;
  }
}

@media screen and (max-width: 960px) {
  .login-form {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  .g-singin {
    width: 58%;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .g-singin:active {
    transform: translateY(2px);
  }

  .g-singin p {
    font-size: 4.2vw;
    cursor: pointer;
  }
  .form-cont h2 {
    font-size: 3vw;
  }
  .h1-back {
    top: 7%;
  }
}
