.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('../assets/fire.jpg');
  background-size: cover;
}

.form-wrapper h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-cont {
  color: bisque;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}

.login-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 20px;
  padding: 9px;
  font-size: 1.5vw;
}

.login-form button {
  padding: 5px;
  font-size: 20px;
  font-size: 1.5vw;
  cursor: pointer;
}

.reg-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.reg-form input {
  margin-bottom: 20px;
  padding: 9px;
  font-size: 1.5vw;
}

.reg-form button {
  padding: 5px;
  font-size: 20px;
  font-size: 1.5vw;
  cursor: pointer;
}

.g-singin {
  width: 100%;
  margin-top: 20px;
}

.g-singin p {
  font-size: 1.5vw;
  cursor: pointer;
}

.glogo {
  width: 25px;
}
