@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;400;700&display=swap');
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.top-cont {
  display: flex;
}

.map-container {
  height: 80vh;
  width: 50vw;
  position: relative;
  margin-bottom: 50px;
}

.info-container {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.city-name {
  position: absolute;
  bottom: 20%;
  font-size: 9vw;
  opacity: 0.7;
  font-family: 'Bebas Neue', cursive;
  color: black;
  -webkit-text-stroke: 0.01px black;
  -webkit-text-fill-color: white;
}

.city-info {
  position: absolute;
  bottom: 15%;
  font-size: 3vw;
  opacity: 0.7;
  font-family: 'Bebas Neue', cursive;
  color: black;
  -webkit-text-stroke: 0.01px black;
  -webkit-text-fill-color: white;
}

.searchbar {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 5;
}

.searchbar input {
  padding: 5px;
  font-size: 20px;
  width: 100%;
}

.locate-user {
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 10;
  background: none;
  border: none;
}

.locate-user img {
  width: 30px;
  cursor: pointer;
}

.img1 {
  width: 100%;
  max-height: 80%;
}
