@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.top-cont {
  display: flex;
}

.map-container {
  height: 80vh;
  width: 50vw;
  position: relative;
  margin-bottom: 50px;
  border-radius: 4px;
}

.info-container {
  max-height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.city-name {
  position: absolute;
  bottom: 20%;
  font-size: 8.5vw;
  opacity: 0.7;
  font-family: 'Bebas Neue', cursive;
  color: black;
  -webkit-text-stroke: 0.01px black;
  -webkit-text-fill-color: white;
}

.city-info {
  position: absolute;
  bottom: 15%;
  font-size: 4vw;
  opacity: 0.7;
  font-family: 'Bebas Neue', cursive;
  -webkit-text-stroke: 0.2px black;
  -webkit-text-fill-color: white;
}

.searchbar-cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.bar-div {
  z-index: 5;
}

.dest-info {
  color: bisque;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}

.searchbar input {
  padding: 7px;
  font-size: 35px;
  height: 5vh;
  width: 35vw;
  background-color: transparent;
  border: 1.4px solid bisque;
  border-radius: 4px;
  color: bisque;
  margin-bottom: 10px;
  outline-color: #b028da;
}

.searchbar input::placeholder {
  opacity: 0.5;
  color: bisque;
}

.locate-user {
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 10;
  background: none;
  border: none;
}

.locate-user img {
  width: 30px;
  cursor: pointer;
}

.img-cont {
  width: 50vw;
  height: 50vw;
}

.img1 {
  margin-left: 30px;
  width: 92%;
  max-height: 80%;
}

.name-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  font-size: 1vw;
  font-family: 'Ubuntu', sans-serif;
  background-color: bisque;
}

.option {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.load {
  color: bisque;
}

.spinner {
  margin-bottom: 100px;
}
