@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Oswald:wght@200;400;700&display=swap');

.cont {
  overflow-y: scroll;
  min-height: 85vh;
  width: 100vw;
  display: flex;
}

.res-item {
  max-width: 25vw;
  min-width: 25vw;
  margin: 10px;
  -webkit-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 16px 18px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-height: 70vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  color: black;
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.rest-title-wrap {
  margin-left: 140px;
  color: antiquewhite;
  display: flex;
  position: relative;
  font-family: 'Six Caps', sans-serif;
}

.rest-title-wrap p {
  transform: rotate(270deg);
  font-size: 3vw;
  left: -4%;
  top: 37%;
  position: absolute;
  color: #ffcc00;
}

.rest-title-wrap h1 {
  font-size: 5.8vw;
  letter-spacing: 2px;
}

.rest-title-wrap span {
  color: #ffcc00;
}

@media screen and (max-width: 960px) {
  .rest-title-wrap {
    margin-left: 80px;
  }
  .rest-title-wrap h1 {
    font-size: 9vw;
    margin-left: 20px;
  }
  .rest-title-wrap p {
    font-size: 4.5vw;
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .rest-title-wrap {
    margin-left: 40px;
  }
  .rest-title-wrap h1 {
    font-size: 14vw;
    margin-left: 20px;
  }
  .rest-title-wrap p {
    font-size: 6.5vw;
    margin-left: 0px;
  }
}
